<div class="d-flex" id="content-wrapper">

  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-sidebar">
    <div class="logo">
      <h4 class="text-light font-weight-bold mb-0">
        <%= @user.fullname%>
        <br>
        @<%= @user.username%>
        <br>
        <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, :width=>150, :crop=>"fill" %>
        <% end %>
        <br>
        Following
        <%= @user.followers.count %>
        <br>
        Followers
        <%= @user.followed_users.count %>
        <br>
        Opinions
        <%= @user.opinions.count %>
      </h4>
    </div>
    <div class="menu">
      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>Home</a>
    </div>
  </div>
  <!-- Fin sidebar -->

  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-navbar static-top">
      <div class="container-fluid">

        <a class="navbar-brand mr-auto" href="">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <% if logged_in? %>
              <%= link_to "Log out", logout_path, class: "mx-2", method: :delete %>
            </li>
            <% else %>
            <li><%= link_to "Log in", login_path, class: "mx-2" %></li>
            <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <div class="container-fluid">
        <div class="row">
          <!-- Tweets col -->
          <div class="col-9">
            <div>
              <% if @user2.cover.attached? %>
              <%= cl_image_tag @user2.cover.key, :width => 1200, :height => 200, :crop=>"fill" %>
              <% end %>
              <h4 class="text-center">Opinions</h4>
              <div>
                <%= render @own_opinions %>
              </div>
            </div>
            <div>

            </div>
          </div>

          <!-- Fin Tweets col -->

          <!-- Who to follow col -->
          <div class="col">
            <div class="text-center">
              <% if @user2.avatar.attached? %>
              <%= cl_image_tag @user2.avatar.key, :width=>150, :crop=>"fill" %>
              <% end %>
              <div class='d-flex flex-column w-100'>
                <div class='d-flex justify-content-center align-items-center flex-column flex-md-row'>
                </div>
                <span class='align-self-center bold-name-right text-dark text-center mt-1'><%= @user2.fullname %></span>
                <span class='align-self-center username text-center color-light-grey'>@<%= @user2.username %></span>

                <div class='d-flex flex-column flex-md-row'>
                  <div class='border flex-grow-1'>
                    <span class='text-center d-block font-weight-bolder'><%= @user2.opinions.count %></span>
                    <span class='text-center d-block bold-flw color-light-grey'>Opinions</span>
                  </div>
                  <div class='border flex-grow-1'>
                    <span class='text-center d-block font-weight-bolder'><%= @user2.followers.count %></span>
                    <span class='text-center d-block bold-flw color-light-grey'>Following</span>
                  </div>
                  <div class='border flex-grow-1'>
                    <span class='text-center d-block font-weight-bolder'><%= @user2.followed_users.count %></span>
                    <span class='text-center d-block bold-flw color-light-grey'>Followers</span>
                  </div>
                </div>
              </div>



            </div>
          </div>
          <!-- Fin Who to follow col -->
        </div>
      </div>

    </div>

  </div>
</div>